*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-color: black;
    text-align: center;
    color: white;
}

.nav{
    background-color: #333;
    flex-wrap: nowrap;
    margin: 0px;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: row;
}

nav a{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    width: 90%;
}

.elemento{
    width: 100%;
    text-align: center;
}

.elemento-seleccionado{
    background: rgb(109, 109, 109);
}

.elemento:hover{
    background: rgb(168, 168, 168);
    transition: 0.5s;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}
aside{
    flex: 30px;
    background-color: beige;
    padding: 20px;
}

section{
    flex: 70%;
    background-color: khaki;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

.tamaño{
    font-size: 15px;
}

.parrafo{
    text-align: center;
}

.logo{
    width: 150px;
    height: 150px;
}
.img{
    width: 50%;
    height: 50%;
}

.productos{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 1% auto;
    padding-bottom: 160px;
    
}
.login{
    border: 2px solid black;
    margin-top: 200px;
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    height: 400px;
    background-color: gainsboro;
    justify-content: space-around;
    text-align: center;
    text-align-last: center;
}

.btnlogin{
    text-align: center;
    text-align-last: center;
}

.principal{
    background-color: black;
    flex-wrap: nowrap;
    margin: 0px;
    justify-content: center;
}

.campo{
    margin-left: 10px;
    margin-right: 10px;
}
.hidden{
    text-decoration: none;
    color: black;
}

.card {
    border: 1px solid black;
    width: 400px;
    height: 800px;
    margin: 1% auto;
    margin-left: 5%;
    margin-right: 6%;
    font-family: arial;
    background-color: aliceblue;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.card-text{
    text-align: justify;
}

.card img{
    width: 398px;
    height: 390px;
}

@media screen and (max-width: 700px){
    nav, nav a, .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media screen and (max-width: 700px){
    .contenido_productos{
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
    }
    
}
